<!DOCTYPE html>
<html>
<head>
	<title>YelpCamp</title>
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">